.cart {
  padding: 5px;
  border-radius: 36px;
  border: solid 1px #E0E0E0;
  cursor: pointer;

  .cart-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $text-color;

    img {
      margin: 0 auto;
      width: 23px;
    }
  }

  p {
    font-size: 18px;
    font-weight: 600;
  }
}

@include onLargeTablet {
  .cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $white-color;
    z-index: 2;

    .cart-icon {
      margin-right: 0;
    }

    p {
      display: none;
    }
  }
}