.sec-1 {
  background-image: url(../../assets/images/sec-1-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  min-height: max-content;

  .sec-1__content {
    h1 {
      font-size: 70px;
      line-height: 72px;
      font-weight: 900;
      margin-bottom: 25px;
    }

    a {
      background-color: $accent-yellow-color;
    }
  }

  @include onLargeDesktop {
    .sec-1__content {
      h1 {
        font-size: 60px;
        line-height: 62px;
      }
    }
  }

  @include onSmallDesktop {
    .sec-1__content {
      h1 {
        font-size: 50px;
        line-height: 52px;
      }
    }
  }

  @include onLargeTablet {
    height: 70vh;

    .sec-1__content {
      h1 {
        font-size: 40px;
        line-height: 42px;
        margin-bottom: 15px;
      }
    }
  }

  @include onSmallTablet {
    .sec-1__content {
      h1 {
        font-size: 32px;
        line-height: 34px;
        margin-bottom: 10px;
      }
    }
  }

  @include onMobile {
    height: 55vh;

    .sec-1__content {
      h1 {
        font-size: 28px;
        line-height: 30px;
      }
    }
  }
}

.sec-2 {
  .sec-2__banner {
    width: 45%;
    aspect-ratio: 1/0.5;
    padding: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;

    &--1 {
      background-image: url(../../assets/images/sec-2-banner-1.webp);
      color: $white-color;
    }

    &--2 {
      background-image: url(../../assets/images/sec-2-banner-2.webp);
    }

    p {
      font-size: 36px;
      margin-bottom: 5px;
    }

    h3 {
      font-size: 40px;
      line-height: 42px;
      font-weight: 900;
    }
  }

  @include onLargeDesktop {
    .sec-2__banner {
      padding: 30px;
      border-radius: 20px;

      p {
        font-size: 30px;
      }

      h3 {
        font-size: 34px;
        line-height: 36px;
      }
    }
  }

  @include onSmallDesktop {
    .sec-2__banner {
      padding: 20px;
      border-radius: 15px;

      p {
        font-size: 24px;
      }

      h3 {
        font-size: 30px;
        line-height: 32px;
      }
    }
  }

  @include onLargeTablet {
    .sec-2__banner {
      padding: 15px;
      border-radius: 15px;

      p {
        font-size: 20px;
      }

      h3 {
        font-size: 24px;
        line-height: 26px;
      }
    }
  }

  @include onSmallTablet {
    .sec-2__banner {
      padding: 10px;
      border-radius: 10px;

      p {
        font-size: 16px;
      }

      h3 {
        font-size: 20px;
        line-height: 22px;
      }
    }
  }

  @include onMobile {
    .sec-2__banner-wrapper {
      flex-direction: column;
    }

    .sec-2__banner {
      width: 90%;

      &--1 {
        margin-bottom: 15px;
      }

      p {
        font-size: 12px;
        margin-bottom: 3px;
      }

      h3 {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}

.sec-3 {
  background-color: #F9F8F8;

  .sec-3__img {
    width: 50%;
    margin-right: 40px;
  }

  .sec-3__text {
    width: 50%;

    h2 {
      margin-bottom: 15px;
    }

    p {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 45px;
    }

    ul {
      margin-bottom: 45px;

      li {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        span {
          display: block;

          &.icon {
            width: 100px;
          }

          &.text {
            font-size: 18px;
            line-height: 20px;

            strong {
              display: block;
              font-size: 25px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    a {
      color: $white-color;
      background-color: $text-color;
    }
  }

  @include onSmallDesktop {
    .sec-3__img {
      width: 40%;
      margin-right: 30px;
    }

    .sec-3__text {
      width: 60%;

      p {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 35px;
      }

      ul {
        margin-bottom: 35px;

        li {
          gap: 15px;
          margin-bottom: 20px;

          span {
            &.icon {
              width: 80px;
            }

            &.text {
              font-size: 16px;
              line-height: 18px;

              strong {
                font-size: 22px;
                margin-bottom: 7px;
              }
            }
          }
        }
      }
    }
  }

  @include onLargeTablet {
    .sec-3__text {
      p {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 20px;
      }

      ul {
        margin-bottom: 20px;

        li {
          gap: 15px;
          margin-bottom: 15px;

          span {
            &.icon {
              width: 60px;
            }

            &.text {
              font-size: 14px;
              line-height: 16px;

              strong {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }

  @include onSmallTablet {
    .sec-3__img {
      display: none;
    }

    .sec-3__text {
      width: 100%;

      h3,
      h2,
      p {
        text-align: center;
      }

      a {
        margin: 0 auto;
      }
    }
  }

  @include onMobile {
    .sec-3__text {
      h2 {
        margin-bottom: 10px;
      }

      p {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 15px;
      }

      ul {
        margin-bottom: 15px;

        li {
          gap: 5px;

          span {
            &.text {
              font-size: 12px;
              line-height: 14px;

              strong {
                font-size: 16px;
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
}

.sec-4 {

  h3,
  h2 {
    text-align: center;
  }

  h2 {
    margin-bottom: 40px;
  }

  .sec-4-cards {
    margin-bottom: 100px;
  }

  .sec-4-card:nth-child(n + 9) {
    display: none;
  }

  button {
    margin: 0 auto;
    background-color: $text-color;
    color: $white-color;
  }

  @include onLargeDesktop {
    h2 {
      margin-bottom: 30px;
    }

    .sec-4-cards {
      margin-bottom: 80px;
    }
  }

  @include onSmallDesktop {
    h2 {
      margin-bottom: 20px;
    }

    .sec-4-cards {
      margin-bottom: 60px;
    }

    .sec-4-card:nth-child(n + 7) {
      display: none;
    }
  }

  @include onSmallTablet {
    h2 {
      margin-bottom: 15px;
    }

    .sec-4-cards {
      margin-bottom: 40px;
    }

    .sec-4-card:nth-child(n + 5) {
      display: none;
    }
  }

  @include onMobile {
    .sec-4-cards {
      margin-bottom: 25px;
    }

    button {
      padding: 7px;
    }
  }
}

.sec-5 {
  background-image: url(../../assets/images/sec-5-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  h2,
  h3 {
    text-align: center;
  }

  h2 {
    margin-bottom: 40px;
  }

  .sec5-cards {
    width: 60%;
    margin: 0 auto 150px;
  }

  .sec5-card {
    span {
      display: block;
      text-align: center;

      &.photo {
        width: 115px;
        aspect-ratio: 1 / 1;
        margin: 0 auto 20px;
        border-radius: 50%;
        overflow: hidden;
      }

      &.rating {
        font-size: 30px;
        font-weight: 700;
        color: #FFA858;
        margin-bottom: 25px;
      }

      &.description {
        font-size: 18px;
        line-height: 110%;
        margin-bottom: 20px;
      }

      &.name {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 5px;
      }

      &.role {
        font-size: 15px;
      }
    }
  }

  .sec5-stats {
    gap: 60px;

    @include onLargeDesktop {
      gap: 40px;
    }

    @include onSmallDesktop {
      gap: 30px;
    }

    @include onLargeTablet {
      gap: 20px;
    }

    @include onMobile {
      gap: 5px;
    }
  }

  .sec5-stats-block {
    width: 210px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #F1F1F1;
    border: solid 2px #7EB693;


    p {
      text-align: center;
      font-size: 18px;

      strong {
        font-size: 50px;
      }
    }
  }

  @include onLargeDesktop {
    .sec5-stats {
      gap: 40px;
    }

    .sec5-stats-block {
      width: 170px;

      p strong {
        font-size: 40px;
      }
    }
  }

  @include onSmallDesktop {
    h2 {
      margin-bottom: 20px;
    }

    .sec5-cards {
      width: 70%;
      margin-bottom: 100px;
    }

    .sec5-card {
      span {
        &.photo {
          width: 100px;
          margin-bottom: 10px;
        }

        &.rating {
          font-size: 25px;
          margin-bottom: 15px;
        }

        &.description {
          font-size: 16px;
        }

        &.name {
          font-size: 23px;
        }
      }
    }

    .sec5-stats {
      gap: 30px;
    }

    .sec5-stats-block {
      width: 150px;

      p {
        font-size: 16px;

        strong {
          font-size: 30px;
        }
      }
    }
  }

  @include onLargeTablet {
    .sec5-cards {
      margin-bottom: 80px;
    }

    .sec5-stats {
      gap: 20px;
    }

    .sec5-stats-block {
      width: 120px;

      p {
        font-size: 13px;

        strong {
          font-size: 22px;
        }
      }
    }
  }

  @include onSmallTablet {
    .sec5-cards {
      width: 95%;
      margin-bottom: 60px;
    }

    .sec5-card {
      span {
        &.photo {
          width: 80px;
          margin-bottom: 5px;
        }

        &.rating {
          font-size: 20px;
          margin-bottom: 10px;
        }

        &.description {
          font-size: 14px;
          margin-bottom: 10px;
        }

        &.name {
          font-size: 18px;
        }
      }
    }

    .sec5-stats-block {
      width: 100px;

      p {
        font-size: 11px;

        strong {
          font-size: 18px;
        }
      }
    }
  }

  @include onMobile {
    .sec5-card {
      span {
        &.photo {
          margin-bottom: 3px;
        }

        &.rating {
          font-size: 18px;
          margin-bottom: 3px;
        }

        &.name {
          margin-bottom: 0;
        }

        &.role {
          font-size: 13px;
        }
      }
    }

    .sec5-stats {
      gap: 5px;
    }

    .sec5-stats-block {
      padding: 3px;
    }
  }
}

.sec-6 {
  background-color: $text-color;

  .sec-6-up {
    margin-bottom: 50px;

    h2 {
      color: $white-color;
    }

    a {
      background-color: $accent-yellow-color;
    }
  }

  @include onSmallDesktop {
    .sec-6-up {
      margin-bottom: 30px;
    }

    .sec-6-card {
      &:last-child {
        display: none;
      }
    }
  }

  @include onSmallTablet {
    .sec-6-up {
      margin-bottom: 20px;
    }

    .sec-6-card {
      &:last-child {
        display: block;
      }
    }
  }

  @include onMobile {
    .sec-6-up {
      margin-bottom: 10px;
    }
  }
}

.sec-7 {
  position: relative;

  .sec-7-photo {
    width: 50%;
  }

  .sec-7-content {
    position: absolute;
    top: 50%;
    left: calc(50% - 90px);
    transform: translateY(-50%);
    width: 50%;
    padding: 75px;
    border-radius: 30px;
    background-color: $white-color;

    h2 {
      margin-bottom: 35px;
    }

    ul {
      li {
        margin-bottom: 20px;

        strong,
        span {
          display: block;
        }

        strong {
          font-size: 25px;
          margin-bottom: 5px;
        }

        span {
          font-size: 20px;
          line-height: 105%;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @include onLargeDesktop {
    .sec-7-content {
      left: calc(40% - 55px);
      width: 60%;
      padding: 45px;
    }
  }

  @include onSmallDesktop {
    .sec-7-content {
      padding: 35px;

      h2 {
        margin-bottom: 25px;
      }

      ul {
        li {
          margin-bottom: 15px;

          strong {
            font-size: 20px;
          }

          span {
            font-size: 16px;
          }
        }
      }
    }
  }

  @include onLargeTablet {
    .sec-7-content {
      padding: 25px;
      left: calc(30% - 55px);
      width: 70%;
      background-color: rgba(255, 255, 255, 0.8);

      h2 {
        margin-bottom: 15px;
      }

      ul {
        li {
          margin-bottom: 10px;

          strong {
            font-size: 18px;
            margin-bottom: 0;
          }

          span {
            font-size: 14px;
          }
        }
      }
    }
  }

  @include onSmallTablet {
    .sec-7-photo {
      width: 100%;
    }

    .sec-7-content {
      width: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @include onMobile {
    .sec-7-content {
      width: 90%;

      ul {
        li {
          strong {
            font-size: 16px;
          }

          span {
            font-size: 13px;
          }
        }
      }
    }
  }
}

.sec-8 {
  h2 {
    margin-bottom: 45px;
  }

  .sec-8-card {
    width: 49%;
    padding: 40px 35px 0;
    aspect-ratio: 1 / 0.7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;

    &:first-child {
      background-image: url(../../assets/images/sec-8-card-bg-1.png);
    }

    &:last-child {
      background-image: url(../../assets/images/sec-8-card-bg-2.png);
    }

    p.date {
      width: 80px;
      aspect-ratio: 1 / 1;
      padding: 3px;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      background-color: $white-color;
      border-radius: 50%;
    }

    .content {
      position: relative;
      top: 45px;
      padding: 45px 50px;
      background-color: $white-color;
      border-radius: 30px;
      -webkit-box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);
      -moz-box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);
      box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);

      p {

        &.author,
        &.preview {
          font-size: 18px;
          line-height: 110%;
        }

        &.author {
          position: relative;
          padding-left: 25px;
          margin-bottom: 15px;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 20px;
            aspect-ratio: 1 / 1;
            background-image: url(../../assets/images/men-icon.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }

        &.preview {
          margin-bottom: 20px;
        }
      }

      h4 {
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 5px;
      }

      button {
        background-color: $accent-yellow-color;
      }
    }
  }

  @include onLargeDesktop {
    h2 {
      margin-bottom: 35px;
    }

    .sec-8-card {
      p.date {
        font-size: 21px;
        width: 70px;
      }

      .content {
        padding: 35px 40px;
        top: 35px;
      }
    }
  }

  @include onSmallDesktop {
    h2 {
      margin-bottom: 25px;
    }

    .sec-8-card {
      padding: 30px 25px 0;
      border-radius: 20px;

      p.date {
        font-size: 15px;
        width: 50px;
      }

      .content {
        padding: 25px 30px;
        top: 25px;
        border-radius: 20px;

        p {

          &.author,
          &.preview {
            font-size: 15px;
          }

          &.author {
            padding-left: 20px;

            &::before {
              width: 15px;
            }
          }
        }

        h4 {
          font-size: 20px;
        }
      }
    }
  }

  @include onLargeTablet {
    h2 {
      margin-bottom: 20px;
    }

    .sec-8-card {
      padding: 20px 15px 0;
      border-radius: 15px;

      p.date {
        font-size: 13px;
        width: 45px;
      }

      .content {
        padding: 15px;
        top: 15px;
        border-radius: 15px;

        p {

          &.author,
          &.preview {
            font-size: 13px;
            margin-bottom: 10px;
          }

          &.author {
            padding-left: 15px;

            &::before {
              width: 11px;
            }
          }
        }

        h4 {
          font-size: 18px;
          margin-bottom: 2px;
        }
      }
    }
  }

  @include onSmallTablet {
    h2 {
      margin-bottom: 10px;
    }

    .sec-8-cards {
      flex-direction: column;
      gap: 15px;
    }

    .sec-8-card {
      width: 100%;
      aspect-ratio: unset;
      height: max-content;
      flex-direction: row;
      align-items: flex-start;
      gap: 15px;
      padding: 15px;
      border-radius: 10px;

      p.date {
        font-size: 11px;
        width: 40px;
        min-width: 40px;
      }

      .content {
        padding: 10px;
        top: 0;
        border-radius: 10px;

        p {

          &.author,
          &.preview {
            font-size: 11px;
          }
        }

        h4 {
          font-size: 16px;
        }
      }
    }
  }

  @include onMobile {
    .sec-8-cards {
      gap: 7px;
    }

    .sec-8-card {
      padding: 10px;
      gap: 5px;

      .content {
        font-size: 9px;

        h4 {
          font-size: 14px;
        }
      }
    }
  }
}

.sec-9 {
  .sec-9-content {
    width: 100%;
    aspect-ratio: 1 / 0.2;
    padding: 0 70px;
    background-image: url(../../assets/images/sec-9-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;

    h2 {
      color: $white-color;
    }

    form {
      gap: 10px;

      input,
      button {
        font-size: 20px;
        border-radius: 16px;
        padding: 25px;
      }

      input {
        width: 370px;
        border: solid 1px $white-color;
        font-style: italic;
        outline: none;

        &:focus {
          border-color: $text-color;
        }
      }

      button {
        width: 220px;
        text-align: center;
        font-weight: 700;
        color: $white-color;
        background-color: $text-color;
        border: solid 1px $text-color;
      }
    }
  }

  @include onLargeDesktop {
    .sec-9-content {
      padding: 0 25px;
      border-radius: 20px;

      h2 {
        width: 45%;
      }

      form {

        input,
        button {
          font-size: 18px;
          padding: 20px;
          border-radius: 12px;
        }

        button {
          width: 190px;
        }
      }
    }
  }

  @include onSmallDesktop {
    .sec-9-content {
      form {

        input,
        button {
          padding: 15px;
        }

        input {
          width: 270px;
        }
      }
    }
  }

  @include onLargeTablet {
    .sec-9-content {
      padding: 0 15px;
      border-radius: 15px;

      form {
        gap: 5px;

        input,
        button {
          font-size: 15px;
          padding: 10px;
          border-radius: 8px;
        }

        input {
          width: 235px;
        }

        button {
          width: 140px;
        }
      }
    }
  }

  @include onSmallTablet {
    .sec-9-content {
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      aspect-ratio: unset;
      height: max-content;
      padding: 10px 10px 15px;
      border-radius: 10px;

      h2 {
        width: 100%;
        text-align: center;
      }

      form {
        width: 100%;

        input,
        button {
          font-size: 13px;
          padding: 7px;
          border-radius: 5px;
        }

        input {
          width: 100%;
        }
      }
    }
  }

  @include onMobile {
    .sec-9-content {
      form {
        button {
          width: max-content;
        }
      }
    }
  }
}